## Data Cleaning
Program to clean and organize raw data from imported Excel sheet.

In [1]:
import pandas as pd

In [2]:
# Import the Excel sheet
dta = pd.read_excel('/Users/morganzimmerman/Desktop/Problem_Sets/DATA_SCIENCE/final_project/data/Data_Sheet_1.xlsx',
                   header=[0])
# Preview the first ten rows Excel sheet
# dta.head(10)

Notes: Because some variables had sub-categories (resulting in the first 2 rows of the Excel sheet referring to column names), some adjustments to the data set column names need to be made.

In [3]:
len(dta.columns)

79

In [4]:
dta.columns = ['No.', 'Participant_ID', 'Category', 'Age_yrs', 'Age_category', 'Education_yrs', 
               'Education_category', 'Sex', 'Marital_status', 'Income', 'Occupation_class',
               'Living_area', 'BP_sistol', 'BP_diastol', 'BMI', 'GDS', 'Glucose', 
               'Triglyceride', 'HDL', 'Hypertension', 'BMI_category', 'Diabetes', 'Tri_200', 
               'HDL_40', 'Smoking_status', 'Stroke', 'Depression', 'INA-AD8', 'ADL', 'AMT', 
               'Intelectual_1', 'Intelectual_2', 'Intelectual_3', 'Intelectual_4', 
               'Intelectual_5', 'Intelectual_6', 'Intelectual_7', 'Intelectual_8', 'Social_1', 
               'Social_2', 'Social_3', 'Social_4', 'Social_5', 'Social_6', 'Social_7', 
               'Social_8', 'Social_9', 'Recreational_1', 'Recreational_2', 'Recreational_3',
               'Recreational_4', 'Recreational_5', 'Recreational_6', 'Recreational_7', 
               'Recreational_8', 'Physical_1', 'Physical_2', 'Physical_3', 'Physical_4', 
               'Physical_5', 'Intellectually_active', 'Socially_active', 
               'Recreationally_active', 'Physically_active', 'Total_active', 'Carbohydrate',
               'Carbo_category', 'Protein', 'Protein_category', 'Vegetable', 
               'Vegetable_category', 'Fruit', 'Fruit_category', 'Salted_fish', 
               'Salted_fish_category', 'Instant_noodle', 'Instant_noodle_category', 'Tempe',
               'Tempe_category']

In [5]:
# Verify successfull renaming of columns
dta.head(10)

,No.,Participant_ID,Category,Age_yrs,Age_category,Education_yrs,Education_category,Sex,Marital_status,Income,...,Vegetable,Vegetable_category,Fruit,Fruit_category,Salted_fish,Salted_fish_category,Instant_noodle,Instant_noodle_category,Tempe,Tempe_category
0,NaN,NaN,NaN,Years,Category,Years,Category,NaN,NaN,NaN,...,Vegetable,Vege Category,Fruit,Fruit Category,Salted Fish,Salted Fish Category,Instant Noodle,Int.Noodle Category,Tempe,Tempe Category
1,1.0,80001.0,Dementia,70,60-74,3,0-6 years,Female,Married,No Income,...,2 times/day,Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent,Few times/week,Non-Frequent
2,2.0,80002.0,Normal,63,60-74,0,0-6 years,Female,Single,< monthly minimum wage,...,3-4 times/week,Non Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent,Few times/week,Non-Frequent
3,3.0,80003.0,Normal,64,60-74,6,0-6 years,Female,Married,No Income,...,3-4 times/week,Non Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,NaN,NaN,NaN,NaN
4,4.0,80004.0,Normal,62,60-74,6,0-6 years,Female,Married,â‰¥ monthly minimum wage,...,2 times/day,Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Few times/week,Frequent,Few times/week,Non-Frequent
5,5.0,80005.0,Dementia,78,>75,3,0-6 years,Female,Married,No Income,...,2 times/day,Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent
6,6.0,80006.0,Dementia,78,>75,0,0-6 years,Female,Married,No Income,...,3-4 times/week,Non Frequent,1 time/day,Frequent,Few times/week,Frequent,Every Meal,Frequent,Few times/week,Non-Frequent
7,7.0,80007.0,Normal,75,>75,6,0-6 years,Female,Single,No Income,...,3-4 times/week,Non Frequent,3-4 times/week,Non Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent,Few times/week,Non-Frequent
8,8.0,80009.0,Normal,64,60-74,4,0-6 years,Female,Married,No Income,...,3-4 times/week,Non Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,NaN,NaN,NaN,NaN
9,9.0,80010.0,Dementia,66,60-74,2,0-6 years,Female,Single,No Income,...,3-4 times/week,Non Frequent,3-4 times/week,Non Frequent,Sometimes,Non-Frequent,NaN,NaN,NaN,NaN

In [6]:
# Drop first column - it's matches index
dta = dta.drop(columns=['No.'])

# Drop first row - it's just a duplicate of variable names
dta = dta.drop([0])

# Edit data types
dta = dta.astype({'Participant_ID': int})

In [7]:
# Verify above changes
dta.head(10)

,Participant_ID,Category,Age_yrs,Age_category,Education_yrs,Education_category,Sex,Marital_status,Income,Occupation_class,...,Vegetable,Vegetable_category,Fruit,Fruit_category,Salted_fish,Salted_fish_category,Instant_noodle,Instant_noodle_category,Tempe,Tempe_category
1,80001,Dementia,70,60-74,3,0-6 years,Female,Married,No Income,housewife,...,2 times/day,Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent,Few times/week,Non-Frequent
2,80002,Normal,63,60-74,0,0-6 years,Female,Single,< monthly minimum wage,profesional,...,3-4 times/week,Non Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent,Few times/week,Non-Frequent
3,80003,Normal,64,60-74,6,0-6 years,Female,Married,No Income,housewife,...,3-4 times/week,Non Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,NaN,NaN,NaN,NaN
4,80004,Normal,62,60-74,6,0-6 years,Female,Married,â‰¥ monthly minimum wage,housewife,...,2 times/day,Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Few times/week,Frequent,Few times/week,Non-Frequent
5,80005,Dementia,78,>75,3,0-6 years,Female,Married,No Income,housewife,...,2 times/day,Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent
6,80006,Dementia,78,>75,0,0-6 years,Female,Married,No Income,housewife,...,3-4 times/week,Non Frequent,1 time/day,Frequent,Few times/week,Frequent,Every Meal,Frequent,Few times/week,Non-Frequent
7,80007,Normal,75,>75,6,0-6 years,Female,Single,No Income,housewife,...,3-4 times/week,Non Frequent,3-4 times/week,Non Frequent,Sometimes,Non-Frequent,Sometimes,Non-Frequent,Few times/week,Non-Frequent
8,80009,Normal,64,60-74,4,0-6 years,Female,Married,No Income,housewife,...,3-4 times/week,Non Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,NaN,NaN,NaN,NaN
9,80010,Dementia,66,60-74,2,0-6 years,Female,Single,No Income,notworking,...,3-4 times/week,Non Frequent,3-4 times/week,Non Frequent,Sometimes,Non-Frequent,NaN,NaN,NaN,NaN
10,80011,Dementia,73,60-74,0,0-6 years,Female,Single,No Income,housewife,...,3-4 times/week,Non Frequent,Sometimes,Non Frequent,Sometimes,Non-Frequent,Few times/week,Frequent,Few times/week,Non-Frequent